<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
  	<servlet-name>w</servlet-name>
  	<servlet-class>mypack.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>w</servlet-name>
  	<url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>q</servlet-name>
  	<servlet-class>mypack.ConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>q</servlet-name>
  	<url-pattern>/confirm</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>t</servlet-name>
  	<servlet-class>mypack.TourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>t</servlet-name>
  	<url-pattern>/tour</url-pattern>
  </servlet-mapping>
</web-app>